<div class="dashboard-container">
  
  <h1 class="dashboard-title">Task Dashboard</h1>
  <div class="nav">
    <a   class="btn-add-task" href="/users/me/tasks/add-new-task">  ➕ Add New Task</a>
     <div class="search-by-title-div">
      <input 
        type="text"
        class="search-by-title"
        placeholder="Search..."
        (input)="searchByTitle(searchInput.value)"
        #searchInput/>
      <button (click)="searchByTitle(searchInput.value)">🔍</button>
     </div>
  </div>
 <div class="status-filter">
     <button class="task-badge " (click)="ClearFilterByStatus()" >
         ALL
        </button>
   <button class="task-badge TODO" (click)="FilterByStatus(StatusEnum.TODO)" >
         TODO
        </button>
         <button class="task-badge IN_PROGRESS" (click)="FilterByStatus(StatusEnum.IN_PROGRESS)" >
         IN_PROGRESS
        </button> 
        <button class="task-badge COMPLETED" (click)="FilterByStatus(StatusEnum.COMPLETED)" >
         COMPLETED
        </button>
 </div>







<div class="container">
<div *ngFor="let task of tasks" class="task-card">
      <div class="task-header">
        <h2 class="task-title">{{ task.title }}</h2>
        <span class="task-badge" [ngClass]="task.status.toString()">
          {{ task.status }}
        </span>
      </div>
      <p class="task-desc">{{ task.description }}</p>
      <div class="task-footer">
        <span class="task-due">Due: {{ task.dueDate | date:'mediumDate' }}</span>
        <button class="task-btn" (click)="viewTask(task)">View</button>
      </div>
    </div>
</div>
<!-- 
<mat-paginator
  [length]="totalTasks"
  [pageSize]="pageSize"
  [pageIndex]="pageIndex"
  [pageSizeOptions]="[5, 10, 25, 100]"
  (page)="onPageChange($event)">
</mat-paginator> -->
</div>
